@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --font-padrao: "Roboto", sans-serif;
  --cor-bg: #ffe1bd;
  --cor-medio: #ebb97c;
  --cor-destaque: #cb8026;
  --cor-dark: #232533;
  --cor-escura: #393b47;

  --titulo-1: clamp(1.5rem, 1.3846rem + 0.5128vw, 2rem);
  --titulo-2: clamp(1.25rem, 1.1346rem + 0.5128vw, 1.75rem);
  --titulo-3: clamp(1rem, 0.8846rem + 0.5128vw, 1.5rem);
  --texto-1: clamp(1rem, 0.8846rem + 0.5128vw, 1.5rem);
  --texto-2: clamp(0.875rem, 0.7885rem + 0.3846vw, 1.25rem);
  --texto-3: clamp(0.75rem, 0.6923rem + 0.2564vw, 1rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  max-width: 100vw;
  min-width: 360px;
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: var(--font-padrao);
}

body {
  width: 100%;
  background-color: var(--cor-bg);
}

.questionario {
  width: 80%;
  min-width: 320px;
  margin: 32px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.questionarioTitulo {
  font-size: var(--titulo-1);
  font-weight: 800;
  color: var(--cor-dark);
}

.questionarioSubtitulo {
  font-style: var(--titulo-2);
  font-weight: 600;
  color: var(--cor-escura);
}

.questionarioExercicio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.linkVer {
  width: 90%;
  min-width: 320px;
  min-height: 50px;
  height: auto;
  text-decoration: none;
  font-size: var(--texto-2);
  font-weight: 800;
  line-height: 2;
  color: var(--cor-escura);
  text-align: center;
  border-radius: 50px;
  margin: 8px 0;
  padding: 10px 15px;
  background-color: var(--cor-medio);
  box-shadow: -5px 5px 5px 0px var(--cor-escura);

}

.linkVer:hover {
  scale: 0.9;
  box-shadow: -2px 2px 3px 0px var(--cor-escura);
  transition: all 200ms ease-in-out;
}

.exercicioTexto {
  font-size: var(--texto-2);
  font-weight: 500;
  line-height: 1.5;
}

.questionarioSubtituloInterno {
  font-size: var(--titulo-2);
  font-weight: 600;
  color: var(--cor-escura);
  margin: 16px 0;
}

.detalheInicio {
  width: 100%;
  height: 5px;
  background-color: #cb8026;
  border-radius: 50px;
  margin: 16px 0;
}

.solucao{
  width: 80%;
  min-width: 320px;
  margin: 32px auto;
}

.tituloExercicio {
  font-size: var(--titulo-2);
  font-weight: 600;
  color: var(--cor-escura);
}

.descricaoExercicio {
  width: 80%;
  min-width: 20px;
  font-size: 14px;
  font-weight: 500;
  color: var(--cor-escura);
  margin: 16px 0;
}

.exercicioBox{
  width: 100%;
  min-height: 50vh;
  padding: 50px;
  border: double 5px var(--cor-destaque);
  margin: 32px auto;
  position: relative;
}

.exercicioConteudo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 300px;
  margin: 8px auto;
  gap: 50px;
  width: 100%;
}

.exercicioLabel {
  font-size: 16px;
  color: var(--cor-dark);
  font-weight: 600;
  line-height: 1.5;
}

.resultadoTitulo {
  font-size: 16px;
  color: var(--cor-escura);
  font-weight: 600;
}

.exercicioResultado {
  font-size: 14px;
  font-weight: 600;
  color: var(--cor-dark);
}

.linkVoltar {
  position: absolute;
  bottom: 5px;
}

.exercicioForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
  margin: 16px 0;
}

.exercicioInput{
  margin: 16px 0;
  width: 210px;
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 500;
  color: var(--cor-escura);
  border: solid 3px var(--cor-dark);
  border-radius: 50px;
  margin: 8px 0;
  box-shadow: -5px 5px 0 0 var(--cor-dark);
  outline: none;
}

.exercicioInput::placeholder {
  font-size: 12px;
  font-weight: 500;
  color: var(--cor-escura);
}

.exercicioInput:focus {
  box-shadow: -3px 3px 0 0 var(--cor-destaque);
  border: solid 3px var(--cor-destaque);
}

.exercicioFormBtn {
  margin: 16px 0;
  border: 0;
  padding: 10px 20px;
  background-color: var(--cor-dark);
  font-size: 12px;
  font-weight: 600;
  color: var(--cor-bg);
  border-radius: 50px;
  box-shadow: -5px 5px 0 0 var(--cor-escura);
}


.exercicioFormBtn:hover {
  cursor: pointer;
  scale: 0.9;
  box-shadow: none;
  transition: all 200ms ease-in-out;
}

.resultadoTextos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

/* Exercício 01 */

/* Exercicio 02 */

.descleamerExercicio02 {
  width: auto;
  max-width: 300px;
  font-size: 12px;
}

/* Exercicio 03 */

/* Exercio 04 */

.tituloInternoExercicio04 {
  font-size: 20px;
  color: var(--cor-dark);
  margin: 16px 0;
  text-align: center;
  font-weight: 600;
}

.subtituloInternoExercicio04 {
  font-size: 16px;
  color: var(--cor-escura);
  text-decoration: line-through;
  font-weight: 500;
  margin: 8px 0;
}

/* Exercicio 05 */

/* Exercicio 06*/
.exercicio06Input {
  width: 220px;
}

/* Exercicio 07 */

/* Exercício 08*/

/* Exercício 09*/

/* Exercício 10 */

/* Exercício 11 */

/* Exercício 12 */

/* Exercício 13 */

/* Exercício 14 */

/* Exercício 15 */

.mensagemExercicio15 {
  margin: 16px 0;
}

/* Exercício 16 */

/* Exercício 17 */

/* Exercício 18 */

/* Exercício 19 */

/* Exercício 20 */

/* Exercício 21 */

/* Exercício 22 */
.botoesExercicio22 {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Exercício 23 */

/* Exercício 24 */

/* Exercício 25 */

/* Exercício 26 */
.botoesExercicio26 {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Exercício 27 */

/* Exercício 28 */

/* Exercício 29 */

/* Exercício 30 */

/* Exercício 31 */

/* Exercício 32 */

/* Exercício 33 */

/* Exercício 34 */
.botoesExercicio34 {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Exercício 35 */

/* Exercício 36 */
.inputCaractere {
  width: 45px;
}

.botoesExercicio36{
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Exercício 37 */

/* Exercício 38 */

/* Exercício 39 */

/* Exercício 40 */

/* Exercício 41 */

/* Exercício 42 */

/* Exercício 43 */

/* Exercício 44 */

/* Exercício 45 */

/* Exercício 46 */

/* Exercício 47 */

/* Exercício 48 */

/* Exercício 49 */
.botoesExercicio49 {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Exercício 50 */
.botoesExercicio50 {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Exercício 51 */
.botoesExercicio51 {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Exercício 52 */
.botoesExercicio52 {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Exercício 53 */

/* Exercício 54 */
.botoesExercicio54 {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Exercício 55 */

/* Exercício 56 */

/* Exercício 57 */
.botoesExercicio57 {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Exercício 58 */

/* Exercício 59 */
.botoesExercicio59 {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Exercício 60 */
.botoesExercicio60 {
  display: flex;
  align-items: center;
  gap: 10px;
}
